apiVersion: v1
kind: ConfigMap
metadata:
  name: workflow-controller-configmap
data:
  config: |
    {
    namespace: $(kfp-namespace),
    executorImage: gcr.io/ml-pipeline/argoexec:v2.7.5-license-compliance,
    containerRuntimeExecutor: $(kfp-container-runtime-executor),
    artifactRepository:
    {
        s3: {
            bucket: $(s3Bucket),
            keyPrefix: artifacts,
            endpoint: s3.amazonaws.com,
            insecure: false,
            region: $(s3Region),
            accessKeySecret: {
                name: off-cluster-storage-secret,
                key: s3_access_key
            },
            secretKeySecret: {
                name: off-cluster-storage-secret,
                key: s3_secret_key
            }
        },
        archiveLogs: true
      }
    }